.titulo_principal{
    font-size: 55px;
  }

.titulo_secundario{
    font-size: 25px;
    margin-top: 3px;
}

.usuario{
    font-size: 20px;
}

.rut_usuario{
    font-size: 20px;
}

.div_volver{
    position: absolute;
    margin-top: 75px;
    left: 0;
    padding: 10px; 
}

.link_volver{
    color: #ffff;
    text-decoration: none;
}