.btn_restaurar{
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.titulo_principal{
    font-size: 55px;
  }

.titulo_secundario{
    font-size: 25px;
}

.div_volver{
    position: absolute;
    margin-top: 100px;
    left: 0;
    padding: 10px; 
}

.link_volver{
    color: #ffff;
    text-decoration: none;
}