<ion-content class="ion-padding">

  <div class="ion-text-center ion-padding">
    <ion-text class="titulo_principal">RegistrAPP</ion-text>
    <div class="ion-text-center">
      <ion-text class="titulo_secundario">Bienvenido estudiante</ion-text>
    </div>
    <ion-text class="titulo_terciario">¿Qué desea hacer?</ion-text>
    <p></p>
  </div>

  <ion-content>
    <div class="ion-text-center ion-align-items-center">
      <ion-button class="btn_iniciar" (click)="iraLogin()">Iniciar sesión</ion-button>
      <ion-button class="btn_iniciar"(click)="iraRegistro()">Registrarse</ion-button>
    </div>
</ion-content>